*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-image: linear-gradient(to left bottom, #b0a8b9, #999fba, #7899b9, #4b94af, #008e9b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-box{
    height: 420px;
    width: 300px;
    background: rgb(199, 177, 152);
    border-radius: 20px;
    box-shadow: 5px 5px 30px rgba(199,177,152,0.5);
    position: relative;
}
#input-task{
    height: 50px;
    width: 85%;
    margin-top: 5px;
    text-align: center;
    border-radius: 15px;
    background-color: #90cbe4;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    outline: none;
    padding: 5px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.4);
    transition: all 1s;
}

#add{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 35px;
    font-weight: bolder;
    background: cadetblue;
    position: absolute;
    color: white;
    right: 20px;
    bottom: 20px;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-shadow: 2px 5px 15px rgba(0,0,0,0.8);
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.notesList{
    height: 351px;
    border-radius: 5px;
    width: 93%;
    margin-left: 11px;
    margin-top: 54px;
    overflow:scroll;
  overflow-x: hidden;
}
.notesList::-webkit-scrollbar{
    display: none;
}
#listOfTask{
    list-style: none;
}
ul li{
    background: #a7bcb9;
    padding: 12px;
    border-radius: 15px;
    margin-top: 5px;
    overflow: hidden;
    position: relative;
}
.fa-check , .fa-trash{
    position: absolute;
    cursor: pointer;
}
.fa-check{
    right: 40px;
    color: green;
}
.fa-trash{
    right: 15px;
    color: red;
}

.checked{
    text-decoration: line-through;
    background: lightgreen;
    transition: 1s;
}
